<section class="flex flex-col lg:flex-row md:items-center justify-center px-6 py-8 md:mx-auto md:h-screen">
        <div class="mb-7 md:my-14 bg-white rounded-lg shadow-md max-h-fit">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8 items-end ">
                <h1 class="text-2xl font-bold leading-tight tracking-tight text-center">
                    Mi cuenta
                </h1>
                <table class="table table-fixed lg:max-w-2xl">
                    <tbody class="divide-y">
                    <tr>
                        <th class="md:text-2xl sm:text-xl">Nombre</th>
                        <td class="sm:text-left md:text-right md:text-xl sm:text-sm">{{clienteService.cliente?.nombre}}</td>
                    </tr>
                    <tr>
                        <th class="md:text-2xl sm:text-xl">Documento</th>
                        <td class="sm:text-left md:text-right md:text-xl sm:text-sm">{{clienteService.cliente?.documento}}</td>
                    </tr>
                    <tr>
                        <th class="md:text-2xl sm:text-xl">Correo</th>
                        <td class="sm:text-left md:text-right md:text-xl sm:text-sm">{{clienteService.cliente?.correo}}</td>
                    </tr>
                    <tr>
                        <th class="md:text-2xl sm:text-xl">Ciudad</th>
                        <td class="sm:text-left md:text-right md:text-xl sm:text-sm">{{clienteService.cliente?.ciudad}}</td>
                    </tr>
                    <tr>
                        <th class="md:text-2xl sm:text-xl">Direccion</th>
                        <td class="sm:text-left md:text-right md:text-xl sm:text-sm">{{clienteService.cliente?.direccion}}</td>
                      </tr>
                    <tr>
                      <th class="md:text-2xl sm:text-xl">Telefono</th>
                      <td class="sm:text-left md:text-right md:text-xl sm:text-sm">{{clienteService.cliente?.telefono}}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <aside class="md:ml-10 bg-white rounded-lg shadow-md lg:w-2/5 min-h-96 max-h-fit text-center">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8 items-end mb-5">
                <h1 class="text-2xl font-bold leading-tight tracking-tight text-center">Pedidos hechos</h1>
                <div class="overflow-x-auto">
                    <table class="table-auto w-full">
                        <thead>
                            <tr class="bg-gray-100">
                                <th class="px-4 py-2 text-center">Referencia</th>
                                <th class="px-4 py-2 text-center">Fecha</th>
                                <th class="px-4 py-2 text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                            @for (pedido of clienteService.cliente?.pedidos | paginate: {itemsPerPage: 4, currentPage: page}; track pedido._id) {
                            <tr class="hover:bg-gray-200 cursor-pointer" [routerLink]="['/pedido', pedido._id]">
                                <td class="px-4 py-2">{{ pedido.refpedido }}</td>
                                <td class="px-4 py-2">{{ pedido.fecha | date:'dd/M/yyyy' }}</td>
                                <td class="px-4 py-2">{{ pedido.total | currency:'':'symbol':'1.0-0' }}</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @if (clienteService.cliente?.pedidos.length >= 4) {
                <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
            }
        </aside>
</section>