<section class="h-auto w-auto form-control">
    <div class="form-control items-center justify-center mt-6 mx-3 aspect-auto">
      @if(isLogged){<h1 class="mb-10 text-4xl text-white font-bold ">Bienvenida/o {{clientService.cliente.nombre}}</h1>}
      <img ngSrc="../assets/imagen_2024-04-03_172010417.avif" alt="Logo de SportLife" width="450" height="450" priority> 
    </div>
    <article class="bg-gradient-to-r from-indigo-500 from-33% via-orange-500 via-33% to-indigo-500 to-90% text-center py-8 px-4 md:px-16 shadow-xl mt-10 relative aspect-auto">
      <p class="text-white text-3xl md:text-4xl font-bold mb-4">¡Oferta Especial!</p>
      <p class="text-white text-lg md:text-xl">¡Obtén un 30% de descuento en todas tus compras realizadas hoy!</p>
      <button class="btn btn-lg mt-4" routerLink="/productos">Compra Aquí!</button>
    </article>

    
    <div class="mx-10 md:mx-20 my-10 bg-white rounded-lg shadow-md aspect-auto">
      <h1 class="text-center text-2xl font-semibold mt-4 sm:text-6xl">SportLife</h1>   
      <div class="flex flex-wrap justify-center">
        <div class="w-full md:w-1/3 p-4"> 
          <div class="text-center">
            <img ngSrc="../assets/warehouse-svgrepo-com.svg" class="mx-auto aspect-auto" width="65" height="65" alt="Svg de una bodega con cajas">
            <h3 class="text-lg font-semibold">Mejores productos a nivel nacional</h3>
            <p class="text-gray-600">Nuestra misión es ofrecer una amplia gama de productos de la más alta calidad, cuidadosamente seleccionados para satisfacer las necesidades de nuestros clientes a nivel nacional. Desde productos de última tecnología hasta clásicos probados, garantizamos la excelencia en cada artículo que ofrecemos.</p>
          </div>
        </div>
      
        <div class="w-full md:w-1/3 p-4"> 
          <div class="text-center">
            <img ngSrc="../assets/fast-delivery-svgrepo-com.svg" class="mx-auto aspect-auto" width="65" height="65" alt="Svg de un camion rapido">
            <h3 class="text-lg font-semibold">Entregas rápidas</h3>
            <p class="text-gray-600">En SportLife, entendemos la importancia de recibir tus productos de manera rápida y eficiente. Por eso, nos comprometemos a realizar entregas rápidas para que disfrutes de tus compras en el menor tiempo posible. Nuestra red logística está diseñada para garantizar la puntualidad en cada envío.</p>
          </div>
        </div>
      
        <div class="w-full md:w-1/3 p-4"> 
          <div class="text-center">
            <img ngSrc="../assets/home-delivery-svgrepo-com.svg" class="mx-auto aspect-auto" width="65" height="65" alt="Svg del simbolo de accesibilidad">
            <h3 class="text-lg font-semibold">Mejor atención al cliente</h3>
            <p class="text-gray-600">En SportLife, la satisfacción del cliente es nuestra prioridad. Nuestro equipo de atención al cliente está dedicado a brindarte la mejor experiencia de compra. Estamos disponibles para responder tus preguntas, resolver problemas y asegurarnos de que cada interacción contigo sea positiva y satisfactoria.</p>
          </div>
        </div>
      </div>
    </div>
  </section>