<section class="">
    <div class="flex items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="relative w-full bg-white rounded-xl  shadow-2xl border sm:max-w-xl xl:p-0 ">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2xl">
                    Registrate
                </h1>
                <form class="space-y-4 md:space-y-6" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="md:flex flex-row justify-between">
                        <div class="form-group w-full md:w-3/6 md:mr-1">
                            <label for="nombre" class="block mb-2 text-sm font-medium ">Nombre completo</label>
                            <input formControlName="nombre" type="text" name="nombre" id="nombre" class="border text-white sm:text-sm rounded-lg block w-full p-2.5 hover:bg-black" placeholder="Jane Doe">
                        </div>
                        <div class="form-group w-full md:w-3/6">
                            <label for="documento" class="block mb-2 text-sm font-medium ">Documento</label>
                            <input formControlName="documento" type="number" name="documento" id="documento" class="border text-white sm:text-sm rounded-lg block w-full p-2.5 hover:bg-black" placeholder="9788561">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="correo" class="block mb-2 text-sm font-medium">E-mail</label>
                        <input formControlName="correo" type="email" name="correo" id="correo" placeholder="janeDoe@example.com" class="text-white sm:text-sm rounded-lg block w-full p-2.5 hover:bg-black">
                    </div>
                    <div class="md:flex md:flex-row md:justify-between">
                        <div class="form-group w-full md:w-3/6 md:mr-1 ">
                            <label for="ciudad" class="block mb-2 text-sm font-medium">Ciudad</label>
                            <select formControlName="ciudad" name="ciudad" class="select select-bordered select-sm w-full max-w-xs text-white text-sm rounded-lg block h-10 bg-neutral-700 hover:bg-black " id="ciudad">
                                <option value="" disabled selected hidden>-</option>
                                <option value="Armenia">Armenia</option>
                                <option value="Barranquilla">Barranquilla</option>
                                <option value="Bogotá">Bogotá</option>
                                <option value="Bucaramanga">Bucaramanga</option>
                                <option value="Cali">Cali</option>
                                <option value="Cartagena">Cartagena</option>
                                <option value="Cúcuta">Cúcuta</option>
                                <option value="Florencia">Florencia</option>
                                <option value="Ibagué">Ibagué</option>
                                <option value="Leticia">Leticia</option>
                                <option value="Manizales">Manizales</option>
                                <option value="Medellín">Medellín</option>
                                <option value="Mitú">Mitú</option>
                                <option value="Mocoa">Mocoa</option>
                                <option value="Montería">Montería</option>
                                <option value="Neiva">Neiva</option>
                                <option value="Pasto">Pasto</option>
                                <option value="Pereira">Pereira</option>
                                <option value="Popayán">Popayán</option>
                                <option value="Puerto Carreño">Puerto Carreño</option>
                                <option value="Puerto Inírida">Puerto Inírida</option>
                                <option value="Quibdó">Quibdó</option>
                                <option value="Riohacha">Riohacha</option>
                                <option value="San Andrés">San Andrés</option>
                                <option value="San José del Guaviare">San José del Guaviare</option>
                                <option value="Santa Marta">Santa Marta</option>
                                <option value="Sincelejo">Sincelejo</option>
                                <option value="Tunja">Tunja</option>
                                <option value="Valledupar">Valledupar</option>
                                <option value="Villavicencio">Villavicencio</option>
                                <option value="Yopal">Yopal</option>
                            </select>
                        </div>
                        <div class="form-group w-full md:w-3/6">
                            <label for="telefono" class="block mb-2 text-sm font-medium ">Telefono</label>
                            <input formControlName="telefono" type="number" name="telefono" id="telefono" class="border text-white sm:text-sm rounded-lg block w-full p-2.5 hover:bg-black" placeholder="300968845">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="direccion" class="block mb-2 text-sm font-medium">Direccion</label>
                        <input formControlName="direccion" type="text" name="direccion" id="direccion" placeholder="Cra 7 # 107-89" class="text-white sm:text-sm rounded-lg block w-full p-2.5 hover:bg-black">
                    </div>
                    <div>
                        <div class="form-group flex flex-row justify-between">
                            <label for="contrasena" class="block mb-2 text-sm font-medium">Contraseña</label>
                            <div class="dropdown md:dropdown-right md:dropdown-hover dropdown-top dropdown-end ">
                                <span  aria-labelledby="Icono de informacion"tabindex="0" role="button" class="badge badge-lg indicator-item ml-1 border-none"><img ngSrc="../assets/info-icon-svgrepo-com.svg" width="24" height="24" alt="Svg de icono de informacion para mostrar parametros para crear la contraseña"></span>
                                <div tabindex="0" class="mt-3 z-[1] card card-compact  dropdown-content w-max bg-base-100 shadow">
                                    <div class="card-body">
                                        <span class="font-bold text-lg">La contraseña debe tener:</span>
                                        <span class="text-red-500 text-base">-Entre 8 y 16 caracteres</span>
                                        <span class="text-red-500 text-base">-Al menos una letra minúscula</span>
                                        <span class="text-red-500 text-base">-Al menos una letra mayúscula  </span>
                                        <span class="text-red-500 text-base">-Al menos un dígito numérico </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <input formControlName="contrasena" type="password" name="contrasena" id="contrasena" placeholder="•••••••••" class="text-white sm:text-sm rounded-lg block w-full p-2.5 hover:bg-black" [pattern]="'^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,16}$'">
                    </div>
                    @if (clienteExiste){<div class="toast toast-end toast-middle">
                        <div class="alert alert-info bg-red-500 font-bold hover:cursor-pointer hover:bg-red-300 hover:text-gray-400" (click)="clienteExiste = false">
                          <span>Ya existe una cuenta con ese documento</span>
                        </div>
                      </div>}
                    @if (invalidForm){
                            <div class="toast toast-end toast-middle md:mr-6 ">
                                <div class="indicator">
                                    <span class="indicator-item badge bg-red-500 border-red-500 hover:cursor-pointer hover:bg-red-300 hover:border-red-300" (click)="invalidForm = false">X</span> 
                            <div class="alert alert-info bg-white font-bold hover:cursor-pointer hover:bg-slate-300 " (click)="invalidForm = false">
                          <span>Todos lo espacios son obligatorios</span> 
                        </div>
                      </div>
                    </div>}
                    <button type="submit" class="btn btn-md md:btn-lg w-full text-white bg-black hover:bg-neutral-700">Registrarse</button>
                    <p class="text-lg  font-light text-gray-500">
                        Ya tienes una cuenta? <a class="font-medium text-gray-500 hover:underline hover:cursor-pointer hover:text-black" routerLink="/login" >Inicia sesion</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>