section {
  background-image: radial-gradient(circle, #6EE7B7, #3B82F6);
}
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #3B3B3B inset;
}
